# === 시스템 파일 ===
.DS_Store

# === Java 컴파일 파일 ===
*.class
*.jar
*.war
*.log

# === IDE 설정 ===
.idea/
*.iml
*.ipr
*.iws

# === Eclipse, STS ===
.settings/
bin/
target/
.project
.classpath

# === Maven ===
target/

# === 보안 설정 / 민감정보 ===
.env
src/main/resources/application.properties
src/main/resources/gemini-key.json

# === 기타 ===
*.log
